.choose img, .col-sm-3 img{
	height:125px;
}
h1{
	text-align: center;
	background-color: white;
	margin: 0px;
}
h2{
	background-color: #DDDDDD;
	width: fit-content;
}
.container.starters{
	margin-top: 10px;
}
body{
	background-image: url("../../assets/images/bg_pokemon_stadium2.png");
}
.container-50-50{
	width: 50%;
	float: left;
}
/*** dynamically built objects from game.js ***/
.container-your-char, .defender{
	background-color: #DDDDDD;
	width: fit-content;
	border: 1px solid #888888;
}
.char-img img, .defender-img img{
	height:125px;
}
.char-name, .char-hp,
.defender-name, .data-defender-hp, .defender-img{
	text-align: center;
}
.enemies section {
    float: left;
    padding-right: 10px;
}

/*** responsive css ***/
@media (min-width: 768px){
	.col-sm-3 {
	    width: 100%;
	}
}
@media only screen and (max-width: 1200px){
	.container-50-50{
		width: 100%;
	}
}